<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="style.css" /> -->
  <title>Document</title>
</head>

<body style="width: 216mm; height: 279mm; margin: auto">

  <form action="/aasia-steel-card/insert" method="post" enctype="multipart/form-data">
  <div class="card">
    <div class="flex-between">
      <img  style="width: 150px; height: 100px;" class="logo" src="/images/logo.png" alt="logo" />
      <div style="text-align: center; color: #14ab55">
        <p style="text-transform: uppercase">
          Aasia Steel Company
        </p>
        <p style="margin: 8px 0; font-size: 13px">
          Welder Qualification Card
        </p>
        <p style="text-transform: uppercase">Aasia Steel Welder Card</p>
      </div>
      <!-- <img style="width: 100px; height: 100px;" class="qrcode" src="qr.jpg" alt="QR Code" /> -->
    </div>
    <div>
      <label style=" cursor: pointer; background-color: rgb(4, 111, 0); color: white; padding: 5px;" for="files"
        class="btn">Select Image</label>
      <input  id="files" style="visibility:hidden;" name="card" type="file" accept="image/jpg" onchange="previewImage(event)">

    </div>
    <br>
    <div class="flex">
      <img  id="preview-selected-image" style="width: 200px; height: 200px;" class="person-img"/>
      <table id="table-1">
        <tbody>
          <tr>
            <td>Company</td>
            <td>: <input type ="text" name="company"/> </td>
          </tr>
          <tr>
            <td>Welder Name</td>
            <td>:<input type="text" name="welder_name"  id=""></td>
          </tr>
          <tr>
            <td>Iqama No</td>
            <td>:<input type="text" name="iqama_no" id=""></td>
          </tr>
          <tr>
              <td>Welder ID</td>
              <td>: <input type="text" name="welder_id" id=""></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="flex-between" style="margin-top: 20px">
      <div>
        <input type="text" name="authorized_by" id="">
        <p style="margin-top: 3px">Authorized by</p>
      </div>
      <div>
        <input type="text" name="welding_inspector" id="">
        <p style="margin-top: 3px">Welding Inspector</p>
      </div>
    </div>
  </div>
  <div style="border: 2px black solid; margin-top: 10px">
    <table id="table-2" style="width: 100%">
      <thead>
        <tr style="background-color: #f8f9fa; font-weight: bold;">
          <td style="border: 2px black solid; padding: 10px; text-align: center;">Welding Variable</td>
          <td style="border: 2px black solid; padding: 10px; text-align: center;">Actual Values</td>
          <td style="border: 2px black solid; padding: 10px; text-align: center;">Range Values</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="border: 2px black solid; padding: 8px; font-weight: bold;">Welding Process/Type</td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="welding_process_type_actual" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="welding_process_type_range" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
        </tr>
        <tr>
          <td style="border: 2px black solid; padding: 8px; font-weight: bold;">Backing</td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="backing_actual" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="backing_range" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
        </tr>
        <tr>
          <td style="border: 2px black solid; padding: 8px; font-weight: bold;">Diameter</td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="diameter_actual" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="diameter_range" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
        </tr>
        <tr>
          <td style="border: 2px black solid; padding: 8px; font-weight: bold;">Base Metal P-No.</td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="base_metal_pno_actual" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="base_metal_pno_range" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
        </tr>
        <tr>
          <td style="border: 2px black solid; padding: 8px; font-weight: bold;">Deposited Thickness</td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="deposited_thickness_actual" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="deposited_thickness_range" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
        </tr>
        <tr>
          <td style="border: 2px black solid; padding: 8px; font-weight: bold;">Position & Prog.</td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="position_prog_actual" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="position_prog_range" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
        </tr>
        <tr>
          <td style="border: 2px black solid; padding: 8px; font-weight: bold;">Filler Metal Class</td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="filler_metal_class_actual" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="filler_metal_class_range" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
        </tr>
        <tr>
          <td style="border: 2px black solid; padding: 8px; font-weight: bold;">Filler Metal F-No.</td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="filler_metal_fno_actual" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="filler_metal_fno_range" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
        </tr>
        <tr>
          <td style="border: 2px black solid; padding: 8px; font-weight: bold;">Use of Backing Gas</td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="backing_gas_actual" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="backing_gas_range" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
        </tr>
        <tr>
          <td style="border: 2px black solid; padding: 8px; font-weight: bold;">Transfer Mode</td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="transfer_mode_actual" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="transfer_mode_range" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
        </tr>
        <tr>
          <td style="border: 2px black solid; padding: 8px; font-weight: bold;">Current Type/Polarity</td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="current_type_polarity_actual" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="current_type_polarity_range" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
        </tr>
        <tr>
          <td style="border: 2px black solid; padding: 8px; font-weight: bold;">Join/Weld Type</td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="join_weld_type_actual" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
          <td style="border: 2px black solid; padding: 2px;"><input type="text" name="join_weld_type_range" style="width: 100%; border: none; padding: 8px; box-sizing: border-box;"></td>
        </tr>
      </tbody>
    </table>
    <p style="border: 2px black solid; padding: 5px; font-size: 15px">
      This card certifies the welder's qualification according to Aasia Steel standards and requirements.
    </p>
  </div>

  <input type="submit" value="Save"/>
</form>

  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      font-weight: 600;

    }

    .card {
      margin-top: 10px;
      padding: 10px;
      border: 4px black solid
    }

    .flex {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .flex-between {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      height: 150px;
      width: 200px
    }

    .qrcode {
      height: 150px;
      width: 150px;
    }

    .person-img {
      height: 200px;
      width: 200px;
      object-fit: cover
    }

    #table-1 {
      border-collapse: separate;
      border-spacing: 0 20px;
      /* Adjust the second value for vertical spacing */
    }

    #table-2 {
      border-collapse: separate;
      border-spacing: 0;
    }

    #table-2 td {
      border: 2px black solid;
      padding: 5px;
    }

    td:nth-child(even) {
      color: #14ab55;
      /* Apply your styling for even rows */
    }
  </style>

</body>

<script>
  /**
 * Create an arrow function that will be called when an image is selected.
 */
const previewImage = (event) => {
    /**
     * Get the selected files.
     */
    const imageFiles = event.target.files;
    /**
     * Count the number of files selected.
     */
    const imageFilesLength = imageFiles.length;
    /**
     * If at least one image is selected, then proceed to display the preview.
     */
    if (imageFilesLength > 0) {
        /**
         * Get the image path.
         */
        const imageSrc = URL.createObjectURL(imageFiles[0]);
        /**
         * Select the image preview element.
         */
        const imagePreviewElement = document.querySelector("#preview-selected-image");
        /**
         * Assign the path to the image preview element.
         */
        imagePreviewElement.src = imageSrc;
        /**
         * Show the element by changing the display value to "block".
         */
        imagePreviewElement.style.display = "block";
    }
};
</script>

</html>
